# Maven
target/
apache-maven-3.9.5/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.settings/
.project
.classpath
.factorypath

# VS Code
.vscode/

# Logs and Temp
*.log
*.tmp
error.txt

# Binary and Data (Exclude unless explicitly needed)
Apprenticeship_Manager.exe
*.exe
*.jar
*.db
*.sqlite

*.xls
*.csv
*.accdb
*.mdb
*.laccdb
الدور الاول2022_Backup.accdb

# OS files
.DS_Store
Thumbs.db
students_images